# Dossier contenant les credentials (clés API, fichiers JSON sensibles)
# Ignorer les fichiers sensibles (JSON, .env, etc.)


# Environnement virtuel
myen/
#venv/

# Fichiers Python compilés
__pycache__/
*.pyc

# Configuration spécifique à l'IDE
#.vscode/
#.idea/

# Fichier .env (variables d'environnement locales)
#.env

# Ignorer les fichiers de test
test.py
toto.py
